body {
    
    font-family: Geneva, Tahoma, Verdana, sans-serif;
        font-size: 100%;
        margin: 0 auto;
        width: 900px;
}

header {}

nav {
     background-color: #E6E6FA;
     padding-bottom: 10px;
     padding-left: 35px;
     padding-top: 10px;
}

li {
    list-style-type: none;
}

a:link {
    background-color: #558C89;
    color: #fff;
}

a:visited {
    background-color: #558C89;
    color: lawngreen;
}

article {}

h1 {
    background-color: #558C89;
    color: #fff;
}

h2 {
    background-color: #558C89;
    color: #fff;
}

h3 {
    background-color: #558C89;
    color: #fff;
}

footer {
    text-align: center;
}